table {
    width: 100%;
}

.container {
    width: 80%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

th.mat-sort-header-sorted {
    color: black;
}

.button-row {
    display: flex;
    gap: 10px;
    max-width: 600px;
    padding: 5px;
}

.button-row button{
    box-shadow: none !important;
}

.add-button{
    margin-top: 10px;
}

.logout-button{
    box-shadow: none !important;
}

.spacer {
    flex: 1 1 auto;
}